{% extends 'bootstrap/base.html' %}
<!--Toda esta sintaxis es para usar Bootsrtrap
Funciona todo por bloques-->

{% block head %}
    {{ super() }}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Platzi / {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
    {% block navBar %}
        {% include 'navBar.html' %}
        <!--Esto es para pequeños fragmentos de codigo
        en una posicion especifica-->
    {% endblock %}
    {% for message in get_flashed_messages() %}
          <div class="alert alert-success alert-dismissible">
            <button type="button" data-dismiss="alert" class="close">&times;</button>
            {{ message }}
          </div>  
    {% endfor %}
    {% block content %}
    {% endblock %}

    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}
</html>